@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    box-sizing: border-box; 
}

body{
    font-family: "Funnel Sans", sans-serif;
}

#globalheader{
    display: flex;
    flex-direction: column;

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.hidden{
    display: none;
}

@media only screen and (max-width:600px){
    #menu {
  background-color: antiquewhite;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 2rem;
    }
}



@media only screen and (min-width:600px){
    
    header{
        display: flex;
        justify-content: space-between;
    }

    .hidden{
        display: inline-block;
    }

    #menu{
        ul{
            display: flex;
            gap: 1rem;
        }
    }
    
    #ham{
    display: none;
}

#close{
    display: none;

}

}